body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000c2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: digitalFont;
  src: url('./assets/DIGITALDREAM.ttf');
}

/*
 UTILITIES  
*/
.u-font-size-default { /* 2.5rem */
  font-size: 2.5rem;
}

@media only screen and (max-width: 520px) {
  .u-font-size-default {
    font-size: 1.5rem;
  }
}
